<extend name="Base/common" />
<block name="body">
    <div class="wrap">
        <section id="contents">
            <div class="table-bar">

                <div class="fl">
                    <div class="tools">
                        <a href="{:U('Periodical/add')}" class="btn">新增期刊</a>
                    </div>
                </div>
                <!-- 高级搜索 -->
                <div class="search-form fr cf">
                    <div class="sleft" style="margin-right:10px;">
                        <select name="tag" style="border:none; padding:4px; margin:0;">
                            <option value="{:U('Periodical/index')}">全部级别</option>
                            <volist name="tags" id="vo">
                                <option value="{:U('Periodical/index',array('tag'=>$vo))}" <if condition="I('tag') eq $vo">selected</if> >{$vo}</option>
                            </volist>
                        </select>
                    </div>
                    <div class="sleft">
                        <input type="text" placeholder="请输入期刊名称中的关键字" value="{:I('name')}" class="search-input" name="name">
                        <a url="{:U('Periodical/index',$get_param)}" id="search" href="javascript:;" class="sch-btn"><i class="btn-search"></i></a>
                    </div>

                </div>

                <!-- 多维过滤 -->
            </div>
            <!-- 数据列表 -->
            <div class="data-table">
                <div id="tagSelector"></div>
                <div class="table-striped">
                    <table cellspacing="1">
                        <!-- 表头 -->
                        <thead>
                        <tr>
                            <th></th>
                            <th width="200">期刊名称</th>
                            <th width="100">级别</th>
                            <th width="120">领域</th>
                            <th>网址</th>
                            <th>备注</th>
                            <th width="130">加入时间</th>
                            <th width="100">操作</th>
                        </tr>
                        </thead>

                        <!-- 列表 -->
                        <tbody>
                        <volist name="list_data" id="vo" status="status">
                            <tr>
                                <td class="text-center">{$row*((I('p')?I('p'):1)-1)+$key+1}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.tag}</td>
                                <td>{$vo.domain}</td>
                                <td><a href="{$vo.web_site}" target="_blank">{$vo.web_site}</a></td>
                                <td>{$vo.remark}</td>
                                <td>{$vo.create_time|time_format}</td>
                                <td>
                                    <a href="{:U('Periodical/edit',array('id'=>$vo['id']))}" target="_self">编辑</a>
                                    <a href="javascript:void(0)" onclick="setPeriodPassd({$vo['id']})">投稿账号</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="page"> {$_page|default=''} </div>
        </section>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        var url = "/{$Think.MODULE_NAME}/{$Think.CONTROLLER_NAME}/";
        //导航高亮
        $(".nav li a").each(function(i){
            if($(this).attr('href').indexOf(url) >= 0){
                $(this).parent().addClass('active');
            }
        });
        $(function(){
            //搜索功能
            $("#search").click(function(){
                var url = $(this).attr('url');
                var query  = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
                query = query.replace(/^&/g,'');
                if( url.indexOf('?')>0 ){
                    url += '&' + query;
                }else{
                    url += '?' + query;
                }
                if(query == '' ){
                    url= $(this).attr('url');
                    //url="{:addons_url($_REQUEST ['_addons'].'://'.$_REQUEST ['_controller'].'/lists')}";
                }
                window.location.href = url;
            });

            //回车自动提交
            $('.search-form').find('input').keyup(function(event){
                if(event.keyCode===13){
                    $("#search").click();
                }
            });
            $('select[name=tag]').change(function(){
                location.href = this.value;
            });

        });
        function setPeriodPassd(period_id){
            var dataUrl = "{:U('Periodical/checkLoginPassd',array('period_id'=>'_period_id_'))}";
            var postUrl = "{:U('Periodical/checkLoginPassd')}";
            dataUrl = dataUrl.replace("_period_id_",period_id);
            console.log(dataUrl);
            var $contentHtml = $('<div><div class="goods_dialog" style="padding:10px;overflow-x:hidden;"><div class="mt_10"><iframe name="checkLoginPassd" id="checkLoginPassd" style="border:none;width:100%;" border="0" src="'+dataUrl+'"></iframe></div></div><div class="btn_bar"><a href="javascript:;" class="btn confirm_btn">确定</a>&nbsp;&nbsp;<a href="javascript:;" class="border-btn cancel_btn">取消</a></div></div>');
            $.Dialog.open("验证登陆密码",{width:400,height:280},$contentHtml);
            $('.cancel_btn',$contentHtml).click(function(){
                $.Dialog.close();
            })
            $('.confirm_btn',$contentHtml).click(function(){

                var $form = $(window.frames["checkLoginPassd"].document,$contentHtml).find("form");
                var passd = $form.find("input[name='password']").val();
                var period_id = $form.find("input[name='period_id']").val();
                $.post(postUrl,{"password":passd,"period_id":period_id},function(data){
                    console.log(data)
                    if(data.status==1){
                        //投递成功
                        if (data.url) {
                            updateAlert(data.info + ' 页面即将自动跳转~','alert-success');
                        }else{
                            updateAlert(data.info,'alert-success');
                        }
                        setTimeout(function(){
                            if (data.url) {
                                location.href=data.url;
                            }else if( $(that).hasClass('no-refresh')){
                                $('#top-alert').find('button').click();
                            }else{
                                location.reload();
                            }
                        },1500);
                    }else{
                        console.log(data.info)
                        updateAlert(data.info);
                        setTimeout(function(){
                            if (data.url) {
                                location.href=data.url;
                            }else{
                                $('#top-alert').find('button').click();
                            }
                        },1500);
                    }
                })
            })
        }

    </script>
</block>
