.form-horizontal .item-label{
    /*width: 180px;*/
    /*line-height: 40px;*/
    /*height: 40px;*/
    display: block;
    margin-right: 5px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.form-horizontal .form-item {
     margin-bottom: 10px;
}
.form-horizontal .controls {
    padding: 0;
}
.form-horizontal .text {
    /*padding: 6px;*/
}
.submit-btn {
    padding: 10px 40px;
    font-size: 16px;
}
.btn-return{
    padding: 10px 40px;
    background-color: #aaa;
    font-size: 16px;
}
.btn-return:hover{
    background-color: #999;
}