<extend name="Base/common" />
<block name="style">
    <style type="text/css">
        #positionHead{
            margin: 20px;
        }
        ul.filter-wrapper li.li-taller .dn{
            display: none;
        }
        ul.filter-wrapper{
            position:relative;
            margin-top:35px;
            background-color:#fafafa;
            border:1px solid #e8e8e8;
            min-height:36px;
            padding:6px 0
        }
        ul.filter-wrapper li{
            zoom:1;color:#555
        }
        ul.filter-wrapper li:before,ul.filter-wrapper li:after{
            content:"";display:table
        }
        ul.filter-wrapper li:after{
            clear:both
        }
        ul.filter-wrapper li span,ul.filter-wrapper li a,ul.filter-wrapper li .btn-more{
            float:left;
            margin-right:5px;
            padding:5px 8px;
            height:14px;
            line-height:14px
        }
        ul.filter-wrapper li span{
            font-weight:600;margin-right:-5px
        }
        ul.filter-wrapper li a.active,ul.filter-wrapper li a:hover{
            background-color:#44b549;
            color:#fff;
            border-radius:3px
        }
        ul.filter-wrapper li .btn-more{
            position:relative;
            z-index:11;float:right;
            margin-top:-6px;margin-bottom:-6px;
            padding-top:11px;padding-bottom:11px;
            -webkit-box-sizing:content-box;
            -moz-box-sizing:content-box;box-sizing:content-box;
            background-color:transparent
        }
        ul.filter-wrapper li .btn-more i{
            position:absolute;top:15px;right:-3px;font-size:0;height:0;
            width:0;border-width:6px 6px 0;border-style:solid dashed;
            border-color:#00b38a transparent transparent;overflow:hidden;
            -webkit-transition:all .4s ease 0s;-moz-transition:all .4s ease 0s;
            -o-transition:all .4s ease 0s;transition:all .4s ease 0s
        }
        ul.filter-wrapper li .btn-more:hover{
            background-color:transparent;color:#555
        }
        ul.filter-wrapper li .btn-more:hover i{
            -webkit-transform:rotate(180deg);
            -moz-transform:rotate(180deg);
            -ms-transform:rotate(180deg);
            transform:rotate(180deg);
            animation-fill-mode:forwards
        }
        ul.filter-wrapper li.li-taller{
            padding:12px 16px;
            position:absolute;
            left:0;
            top:0;
            z-index:10;
            display: none;
        }
        ul.filter-wrapper li.first{
            border-bottom:1px dashed #e8e8e8
        }
        ul.filter-wrapper .has-more{
            position:relative
        }
        ul.filter-wrapper .has-more .more{
            display:none;
            position:absolute;
            z-index:10;top:0;
            left:-1px;
            right:-1px;
            background-color:#fff;
            margin-top:-1px;
            border:1px solid #e8e8e8
        }
        ul.filter-wrapper .has-more .more.unfolded{
            display:block
        }
        ul.filter-wrapper .has-more .more .other{
            border-top:1px dashed #e8e8e8
        }
        ul.filter-wrapper .details{
            position:relative;
            overflow:visible;
            background:#fafafa
        }
        ul.filter-wrapper .details li{
            padding:6px
        }
        .btn-collapse-wrapper{
            position:relative;
            margin-top:-1px;
            text-align:center
        }
        .btn-collapse-wrapper .btn-collapse{
            display:block;
            margin:0 auto;
            height:15px;
            width:36px;
            border:1px solid #e8e8e8;
            border-top-color:#fafafa;
            background:#fafafa url(http://pstatic.lagou.com/www/static/search-result/modules/filter/img/arrow_up_b7a7618.png) center no-repeat
        }
        .btn-collapse-wrapper .btn-collapse.collapsed{
            background-image:url(http://pstatic.lagou.com/www/static/search-result/modules/filter/img/arrow_down_861e6c6.png)
        }
    </style>
</block>
<block name="body">
    <div class="wrap">
        <section id="contents">


            <div id="positionHead" style="margin: 20px">
                <ul id="filterBox" class="filter-wrapper">
                    <li class="li-taller brief dn" id="filterBrief">
                        <span class="title">学生标签：</span>
                        <a href="javascript:;" class="active">北京</a>
                    </li>
                    <div class="details" id="filterCollapse">
                        <div class="has-more">
                            <li>
                                <a <eq name="read" value="100">class="active"</eq> href="{:U('MsgCenter/index')}">全部</a>
                                <a <eq name="read" value="0">class="active"</eq> href="{:U('MsgCenter/index',array('read'=>0))}">未读({$notRead})</a>
                                <a <eq name="read" value="1">class="active"</eq> href="{:U('MsgCenter/index',array('read'=>1))}">已读({$hasRead})</a>
                            </li>

                        </div>

                    </div>
                </ul>
            </div>
            <div class="table-bar">

                <div class="fl">
                    <div class="tools">
                        <a target-form="ids" href="{:U('MsgCenter/setRead')}" class="btn ajax-post">标记为已读</a>
                        <a target-form="ids" href="{:U('MsgCenter/setAllRead')}" class="btn btn-blue ajax-get">全部标记为已读</a>
                    </div>
                </div>
            </div>
            <!-- 数据列表 -->
            <div class="data-table">
                <div id="tagSelector"></div>
                <div class="table-striped">
                    <table cellspacing="1">
                        <!-- 表头 -->
                        <thead>
                        <tr>
                            <th class="row-selected row-selected">
                                <input type="checkbox" class="check-all regular-checkbox" id="checkAll">
                                <label for="checkAll"></label></th>
                            <th>内容</th>
                            <th width="130">创建时间</th>
                        </tr>
                        </thead>

                        <!-- 列表 -->
                        <tbody>
                        <volist name="list_data" id="vo">
                            <tr>
                                <td>
                                    <eq name="vo['read']" value="0">
                                        <input type="checkbox" id="check_{$vo.id}" name="ids[]" value="{$vo.id}" class="ids regular-checkbox">
                                        <label for="check_{$vo.id}"></label>
                                    </eq>


                                </td>
                                <td>
                                    <eq name="vo['read']" value="1">
                                        {$vo['content']}
                                        <else/>
                                        <span style="color: black">{$vo['content']}</span>
                                    </eq>

                                </td>
                                <td>{$vo.create_time|time_format}</td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="page"> {$_page|default=''} </div>
        </section>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        var url = "/{$Think.MODULE_NAME}/{$Think.CONTROLLER_NAME}/";
        //导航高亮
        $(".nav li a").each(function(i){
            if($(this).attr('href').indexOf(url) >= 0){
                $(this).parent().addClass('active');
            }
        });
        var tagData = $('#tagData').val();
        if(tagData!=undefined && tagData !='' ){
            tagData = tagData.split(',');
        }else{
            tagData = [];
        }

        function TagSelecter(containerId,tagData){
            //生成tag
            if(tagData.length == 0){
                return;
            }
            $container = $('#'+containerId);
            var htmlStr = '<div class="tag-selector" style="padding: 10px 0">';

            htmlStr += '<ul>';
            $.each(tagData,function(i,v){
                htmlStr += '<li data="'+v+'">'+v+'</li>';
            });
            htmlStr += '</ul>';
            htmlStr += '</div>';
            $div = $(htmlStr);
            //注册事件
            $div.find('ul li').each(function(index){
                $(this).click(function(){
                    if($(this).hasClass('select')){
                        $(this).removeClass('select');
                    }else{
                        $(this).addClass('select');
                    }
//                    updateInputVal();//更新值
                })
            });
            $container.append($div);
        }
//        new TagSelecter('tagSelector',tagData);
        //导航高亮
        $(".nav li a[href='"+url+"']").parent().addClass('active');
        $(function(){


            //搜索功能
            $("#search").click(function(){
                var url = $(this).attr('url');
                var query  = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
                query = query.replace(/^&/g,'');
                if( url.indexOf('?')>0 ){
                    url += '&' + query;
                }else{
                    url += '?' + query;
                }
                if(query == '' ){
                    url= $(this).attr('url');
                    //url="{:addons_url($_REQUEST ['_addons'].'://'.$_REQUEST ['_controller'].'/lists')}";
                }
                window.location.href = url;
            });

            //回车自动提交
            $('.search-form').find('input').keyup(function(event){
                if(event.keyCode===13){
                    $("#search").click();
                }
            });
            $('select[name=tag]').change(function(){
                location.href = this.value;
            });

        })
    </script>
</block>
