<extend name="Base/common" />
<block name="body">
    <div class="wrap">
        <section id="contents">
            <div class="tab-content" style="margin:30px auto;">

                <!-- 表单 -->
                <form class="form-horizontal bind_step_form" method="post" action="__SELF__" id="form" style="overflow:hidden; zoom:1">
                    <!-- 基础文档模型 -->
                    <div class="tab-pane in tab1" id="tab1">
                        <div class="item_wrap">
                            <h3 style="padding-bottom:30px; text-align:center">修改密码</h3>
                            <div class="form-item cf toggle-copy_right">
                                <label class="item-label"> <span class="need_flag">*</span>原密码 <span class="check-tips"></span></label>
                                <div class="controls">
                                    <input type="password" name="old" placeholder="请输入原密码" class="text input-large">
                                </div>
                            </div>
                            <div class="form-item cf toggle-copy_right">
                                <label class="item-label"> <span class="need_flag">*</span>新密码 <span class="check-tips"></span></label>
                                <div class="controls">
                                    <input type="password" name="password" placeholder="输入新密码" class="text input-large">
                                </div>
                            </div>
                            <div class="form-item cf toggle-copy_right">
                                <label class="item-label"> <span class="need_flag">*</span>确认密码 <span class="check-tips"></span></label>
                                <div class="controls">
                                    <input type="password" name="repassword" placeholder="输入确认密码" class="text input-large">
                                </div>
                            </div>
                            <div class="form-item cf mt_10 bind_step_form_next_item">
                                <button target-form="form-horizontal" type="submit" id="submit" class="btn submit-btn ajax-post">保存</button>
                            </div>
                        </div>
                </form>
            </div>

        </section>
        </div>
</block>
<block name="script">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    <php>if(C('COLOR_STYLE')=='blue_color') echo '
        <link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
        ';</php>
    <link href="__STATIC__/datetimepicker/css/dropdown.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v={:SITE_VERSION}" charset="UTF-8"></script>
    <script type="text/javascript">
        $(function(){
            initUploadImg();
            $('.time').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                language:"zh-CN",
                minView:0,
                autoclose:true
            });
            $('.date').datetimepicker({
                format: 'yyyy-mm-dd',
                language:"zh-CN",
                minView:2,
                autoclose:true
            });
            showTab();
        });
    </script>
</block>
