<extend name="Base/common" />
<block name="body">
    <div class="span9 page_message">
        <section id="contents"> <include file="Addons/_nav" />
            <ul class="tab-nav nav">
                <li class="">
                    <a href="">新增学生<span class="arrow fa fa-sort-up"></span>
                    </a></li>
            </ul>
            <div class="tab-content">
                <!-- 表单 -->
                <form action="{:U()}" method="post" class="form-horizontal">
                    <div class="form-item">
                        <label class="item-label">登录名</label>
                        <div class="controls">
                            <input type="text" class="text input-large" name="username" value="">
                            <span class="check-tips">（学生登录系统的用户名）</span>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">姓名</label>
                        <div class="controls">
                            <input type="text" class="text input-large" name="nickname" value="">
                            <span class="check-tips"></span>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">性别</label>
                        <div class="controls">
                            <select name="sex" style="width: 238px">
                                <option></option>
                                <option value="男">&nbsp;&nbsp;&nbsp;&nbsp;男&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                <option value="女">&nbsp;&nbsp;&nbsp;&nbsp;女&nbsp;&nbsp;&nbsp;&nbsp;</option>
                            </select>
                            <span class="check-tips"></span>
                        </div>
                    </div>

                    <div class="form-item">
                        <label class="item-label">密码</label>
                        <div class="controls">
                            <input type="password" class="text input-large" name="password" value="">
                            <span class="check-tips">（用户密码不能少于6位）</span>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">确认密码</label>
                        <div class="controls">
                            <input type="password" class="text input-large" name="repassword" value="">
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">邮箱</label>
                        <div class="controls">
                            <input type="text" class="text input-large" name="email" value="">
                            <span class="check-tips">（用户邮箱，用于找回密码等安全操作）</span>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="item-label">备注</label>
                        <div class="controls">
                            <textarea name="remark" style="min-height: 100px;width: 380px"></textarea>

                        </div>
                    </div>
                    <div class="form-item" style="padding-left: 180px">
                        <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
                        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                    </div>
                </form>
            </div>
    </section>
    </div>
    <!-- 用户分组弹框 -->
    <div class="group_html" style="display:none">
        <div class="manage_group normal_dialog">
            <div class="content">
                <!--            <select name="type" id="select_type" style="width:25%">
                                    <option value="0">移入</option>
                                    <option value="1">移出</option>
                            </select>-->
                <select name="group" id="select_group" style="width:100%">
                    <volist name="auth_group" id="vo">
                        <option value="{$vo.id}">{$vo.title}</option>
                    </volist>
                </select>
                <div class="btn_wrap"><button class="btn setting_group" url="{:U('changeGroup')}" target-form="ids">确定</button></div>
            </div>
        </div>
    </div>
    <!-- 备注用户名 -->
    <div class="remark_html" style="display:none">
        <div class="manage_group normal_dialog">
            <div class="content">
                <input name="remark" id="set_remark" value="" placeholder="请输入备注信息" class="text"  />
                <div class="btn_wrap"><button class="btn setting_remark" url="{:U('set_remark')}">确定</button></div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        var url = "__SELF__";
        //导航高亮
        $(".nav li a[href='"+url+"']").parent().addClass('active');
        $(function(){



        })
    </script>
</block>
